<head><title>Jelly Donuts!</title></head><body>
<style>
 .lineup { background: #9dcef0; font-weight:bold; padding: 10px; }
 .coupon { background: #f5e788; font-weight:bold; padding: 10px; }
 .serve { background: #98f588; font-weight:bold; padding: 10px; }
 .quit { background: #fabbc5; font-weight:bold; padding: 10px; }
 .event { padding:10px; margin-bottom: 50px; border: solid 2px #aaaaaa; }
 table { width: 100%; }
 table td { width: 25%; }
</style>
<h1>JCCC Jelly Donuts Shoppe Simulator</h1>
<div class='event'>
<table><tr><td>Time: 8:00</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> </td></tr></table><p class='lineup'>Customer Thomas (1) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 8:10</td><td>1 customer in line...</td><td><strong>Current balance:</strong> $0.00</td><td><strong>Current line:</strong> Thomas </td></tr></table><p class='serve'>Customer Thomas (1) orders a CUSTARD donut for $6.50 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 8:20</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $6.50</td><td><strong>Current line:</strong> </td></tr></table><p class='coupon'>Customer Jimmy (2) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 8:30</td><td>1 customer in line...</td><td><strong>Current balance:</strong> $6.50</td><td><strong>Current line:</strong> Jimmy </td></tr></table><p class='quit'>Customer Jimmy (2) is tired of waiting and leaves the line!</p></div>

<div class='event'>
<table><tr><td>Time: 8:40</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $6.50</td><td><strong>Current line:</strong> </td></tr></table><p class='coupon'>Customer Sen (3) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 8:50</td><td>1 customer in line...</td><td><strong>Current balance:</strong> $6.50</td><td><strong>Current line:</strong> Sen </td></tr></table><p class='quit'>Customer Sen (3) is tired of waiting and leaves the line!</p></div>

<div class='event'>
<table><tr><td>Time: 9:00</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $6.50</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 9:10</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $6.50</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 9:20</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $6.50</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 9:30</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $6.50</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 9:40</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $6.50</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 9:50</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $6.50</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 10:00</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $6.50</td><td><strong>Current line:</strong> </td></tr></table>Everyone stands around awkwardly...</div>

<div class='event'>
<table><tr><td>Time: 10:10</td><td>0 customers in line...</td><td><strong>Current balance:</strong> $6.50</td><td><strong>Current line:</strong> </td></tr></table><p class='coupon'>Customer Cody (4) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 10:20</td><td>1 customer in line...</td><td><strong>Current balance:</strong> $6.50</td><td><strong>Current line:</strong> Cody </td></tr></table><p class='coupon'>Customer Blake (5) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 10:30</td><td>2 customers in line...</td><td><strong>Current balance:</strong> $6.50</td><td><strong>Current line:</strong> Blake Cody </td></tr></table><p class='coupon'>Customer Audrey (6) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 10:40</td><td>3 customers in line...</td><td><strong>Current balance:</strong> $6.50</td><td><strong>Current line:</strong> Audrey Blake Cody </td></tr></table><p class='serve'>Customer Audrey (6) orders a BLUEBERRY donut for $4.95 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 10:50</td><td>2 customers in line...</td><td><strong>Current balance:</strong> $11.45</td><td><strong>Current line:</strong> Blake Cody </td></tr></table><p class='coupon'>Customer Benjamin (7) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 11:00</td><td>3 customers in line...</td><td><strong>Current balance:</strong> $11.45</td><td><strong>Current line:</strong> Benjamin Blake Cody </td></tr></table><p class='quit'>Customer Cody (4) is tired of waiting and leaves the line!</p></div>

<div class='event'>
<table><tr><td>Time: 11:10</td><td>2 customers in line...</td><td><strong>Current balance:</strong> $11.45</td><td><strong>Current line:</strong> Benjamin Blake </td></tr></table><p class='lineup'>Customer Terik (8) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 11:20</td><td>3 customers in line...</td><td><strong>Current balance:</strong> $11.45</td><td><strong>Current line:</strong> Benjamin Blake Terik </td></tr></table><p class='serve'>Customer Benjamin (7) orders a BLUEBERRY donut for $4.95 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 11:30</td><td>2 customers in line...</td><td><strong>Current balance:</strong> $16.40</td><td><strong>Current line:</strong> Blake Terik </td></tr></table><p class='lineup'>Customer Timothy (9) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 11:40</td><td>3 customers in line...</td><td><strong>Current balance:</strong> $16.40</td><td><strong>Current line:</strong> Blake Terik Timothy </td></tr></table><p class='coupon'>Customer Deokjin (10) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 11:50</td><td>4 customers in line...</td><td><strong>Current balance:</strong> $16.40</td><td><strong>Current line:</strong> Deokjin Blake Terik Timothy </td></tr></table><p class='serve'>Customer Deokjin (10) orders a CARAMEL donut for $2.95 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 12:00</td><td>3 customers in line...</td><td><strong>Current balance:</strong> $19.35</td><td><strong>Current line:</strong> Blake Terik Timothy </td></tr></table><p class='lineup'>Customer Zach (11) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 12:10</td><td>4 customers in line...</td><td><strong>Current balance:</strong> $19.35</td><td><strong>Current line:</strong> Blake Terik Timothy Zach </td></tr></table><p class='lineup'>Customer Garrin (12) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 12:20</td><td>5 customers in line...</td><td><strong>Current balance:</strong> $19.35</td><td><strong>Current line:</strong> Blake Terik Timothy Zach Garrin </td></tr></table><p class='quit'>Customer Garrin (12) is tired of waiting and leaves the line!</p></div>

<div class='event'>
<table><tr><td>Time: 12:30</td><td>4 customers in line...</td><td><strong>Current balance:</strong> $19.35</td><td><strong>Current line:</strong> Blake Terik Timothy Zach </td></tr></table><p class='lineup'>Customer Ruslan (13) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 12:40</td><td>5 customers in line...</td><td><strong>Current balance:</strong> $19.35</td><td><strong>Current line:</strong> Blake Terik Timothy Zach Ruslan </td></tr></table><p class='lineup'>Customer Sen (14) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 12:50</td><td>6 customers in line...</td><td><strong>Current balance:</strong> $19.35</td><td><strong>Current line:</strong> Blake Terik Timothy Zach Ruslan Sen </td></tr></table><p class='lineup'>Customer John (15) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 1:00</td><td>7 customers in line...</td><td><strong>Current balance:</strong> $19.35</td><td><strong>Current line:</strong> Blake Terik Timothy Zach Ruslan Sen John </td></tr></table><p class='serve'>Customer Blake (5) orders a CUSTARD donut for $6.50 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 1:10</td><td>6 customers in line...</td><td><strong>Current balance:</strong> $25.85</td><td><strong>Current line:</strong> Terik Timothy Zach Ruslan Sen John </td></tr></table><p class='lineup'>Customer Madison (16) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 1:20</td><td>7 customers in line...</td><td><strong>Current balance:</strong> $25.85</td><td><strong>Current line:</strong> Terik Timothy Zach Ruslan Sen John Madison </td></tr></table><p class='coupon'>Customer Mehmet (17) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 1:30</td><td>8 customers in line...</td><td><strong>Current balance:</strong> $25.85</td><td><strong>Current line:</strong> Mehmet Terik Timothy Zach Ruslan Sen John Madison </td></tr></table><p class='serve'>Customer Mehmet (17) orders a STRAWBERRY donut for $5.55 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 1:40</td><td>7 customers in line...</td><td><strong>Current balance:</strong> $31.40</td><td><strong>Current line:</strong> Terik Timothy Zach Ruslan Sen John Madison </td></tr></table><p class='coupon'>Customer Garrin (18) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 1:50</td><td>8 customers in line...</td><td><strong>Current balance:</strong> $31.40</td><td><strong>Current line:</strong> Garrin Terik Timothy Zach Ruslan Sen John Madison </td></tr></table><p class='serve'>Customer Garrin (18) orders a CUSTARD donut for $6.50 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 2:00</td><td>7 customers in line...</td><td><strong>Current balance:</strong> $37.90</td><td><strong>Current line:</strong> Terik Timothy Zach Ruslan Sen John Madison </td></tr></table><p class='lineup'>Customer Blake (19) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 2:10</td><td>8 customers in line...</td><td><strong>Current balance:</strong> $37.90</td><td><strong>Current line:</strong> Terik Timothy Zach Ruslan Sen John Madison Blake </td></tr></table><p class='serve'>Customer Terik (8) orders a CUSTARD donut for $6.50 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 2:20</td><td>7 customers in line...</td><td><strong>Current balance:</strong> $44.40</td><td><strong>Current line:</strong> Timothy Zach Ruslan Sen John Madison Blake </td></tr></table><p class='lineup'>Customer Andrea (20) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 2:30</td><td>8 customers in line...</td><td><strong>Current balance:</strong> $44.40</td><td><strong>Current line:</strong> Timothy Zach Ruslan Sen John Madison Blake Andrea </td></tr></table><p class='lineup'>Customer Zach (21) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 2:40</td><td>9 customers in line...</td><td><strong>Current balance:</strong> $44.40</td><td><strong>Current line:</strong> Timothy Zach Ruslan Sen John Madison Blake Andrea Zach </td></tr></table><p class='serve'>Customer Timothy (9) orders a CARAMEL donut for $2.95 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 2:50</td><td>8 customers in line...</td><td><strong>Current balance:</strong> $47.35</td><td><strong>Current line:</strong> Zach Ruslan Sen John Madison Blake Andrea Zach </td></tr></table><p class='lineup'>Customer Thomas (22) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 3:00</td><td>9 customers in line...</td><td><strong>Current balance:</strong> $47.35</td><td><strong>Current line:</strong> Zach Ruslan Sen John Madison Blake Andrea Zach Thomas </td></tr></table><p class='lineup'>Customer Ruslan (23) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 3:10</td><td>10 customers in line...</td><td><strong>Current balance:</strong> $47.35</td><td><strong>Current line:</strong> Zach Ruslan Sen John Madison Blake Andrea Zach Thomas Ruslan </td></tr></table><p class='serve'>Customer Zach (11) orders a STRAWBERRY donut for $5.55 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 3:20</td><td>9 customers in line...</td><td><strong>Current balance:</strong> $52.90</td><td><strong>Current line:</strong> Ruslan Sen John Madison Blake Andrea Zach Thomas Ruslan </td></tr></table><p class='serve'>Customer Ruslan (13) orders a CUSTARD donut for $6.50 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 3:30</td><td>8 customers in line...</td><td><strong>Current balance:</strong> $59.40</td><td><strong>Current line:</strong> Sen John Madison Blake Andrea Zach Thomas Ruslan </td></tr></table><p class='quit'>Customer Ruslan (23) is tired of waiting and leaves the line!</p></div>

<div class='event'>
<table><tr><td>Time: 3:40</td><td>7 customers in line...</td><td><strong>Current balance:</strong> $59.40</td><td><strong>Current line:</strong> Sen John Madison Blake Andrea Zach Thomas </td></tr></table><p class='coupon'>Customer Mohamed (24) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 3:50</td><td>8 customers in line...</td><td><strong>Current balance:</strong> $59.40</td><td><strong>Current line:</strong> Mohamed Sen John Madison Blake Andrea Zach Thomas </td></tr></table><p class='serve'>Customer Mohamed (24) orders a CUSTARD donut for $6.50 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 4:00</td><td>7 customers in line...</td><td><strong>Current balance:</strong> $65.90</td><td><strong>Current line:</strong> Sen John Madison Blake Andrea Zach Thomas </td></tr></table><p class='coupon'>Customer Madison (25) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 4:10</td><td>8 customers in line...</td><td><strong>Current balance:</strong> $65.90</td><td><strong>Current line:</strong> Madison Sen John Madison Blake Andrea Zach Thomas </td></tr></table><p class='serve'>Customer Madison (25) orders a STRAWBERRY donut for $5.55 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 4:20</td><td>7 customers in line...</td><td><strong>Current balance:</strong> $71.45</td><td><strong>Current line:</strong> Sen John Madison Blake Andrea Zach Thomas </td></tr></table><p class='serve'>Customer Sen (14) orders a STRAWBERRY donut for $5.55 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 4:30</td><td>6 customers in line...</td><td><strong>Current balance:</strong> $77.00</td><td><strong>Current line:</strong> John Madison Blake Andrea Zach Thomas </td></tr></table><p class='serve'>Customer John (15) orders a BLUEBERRY donut for $4.95 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 4:40</td><td>5 customers in line...</td><td><strong>Current balance:</strong> $81.95</td><td><strong>Current line:</strong> Madison Blake Andrea Zach Thomas </td></tr></table><p class='coupon'>Customer Tyler (26) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 4:50</td><td>6 customers in line...</td><td><strong>Current balance:</strong> $81.95</td><td><strong>Current line:</strong> Tyler Madison Blake Andrea Zach Thomas </td></tr></table><p class='lineup'>Customer Garrin (27) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 5:00</td><td>7 customers in line...</td><td><strong>Current balance:</strong> $81.95</td><td><strong>Current line:</strong> Tyler Madison Blake Andrea Zach Thomas Garrin </td></tr></table><p class='coupon'>Customer Matt (28) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 5:10</td><td>8 customers in line...</td><td><strong>Current balance:</strong> $81.95</td><td><strong>Current line:</strong> Matt Tyler Madison Blake Andrea Zach Thomas Garrin </td></tr></table><p class='quit'>Customer Garrin (27) is tired of waiting and leaves the line!</p></div>

<div class='event'>
<table><tr><td>Time: 5:20</td><td>7 customers in line...</td><td><strong>Current balance:</strong> $81.95</td><td><strong>Current line:</strong> Matt Tyler Madison Blake Andrea Zach Thomas </td></tr></table><p class='coupon'>Customer Dan (29) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 5:30</td><td>8 customers in line...</td><td><strong>Current balance:</strong> $81.95</td><td><strong>Current line:</strong> Dan Matt Tyler Madison Blake Andrea Zach Thomas </td></tr></table><p class='quit'>Customer Thomas (22) is tired of waiting and leaves the line!</p></div>

<div class='event'>
<table><tr><td>Time: 5:40</td><td>7 customers in line...</td><td><strong>Current balance:</strong> $81.95</td><td><strong>Current line:</strong> Dan Matt Tyler Madison Blake Andrea Zach </td></tr></table><p class='serve'>Customer Dan (29) orders a BLUEBERRY donut for $4.95 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 5:50</td><td>6 customers in line...</td><td><strong>Current balance:</strong> $86.90</td><td><strong>Current line:</strong> Matt Tyler Madison Blake Andrea Zach </td></tr></table><p class='coupon'>Customer Matt (30) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 6:00</td><td>7 customers in line...</td><td><strong>Current balance:</strong> $86.90</td><td><strong>Current line:</strong> Matt Matt Tyler Madison Blake Andrea Zach </td></tr></table><p class='lineup'>Customer Dan (31) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 6:10</td><td>8 customers in line...</td><td><strong>Current balance:</strong> $86.90</td><td><strong>Current line:</strong> Matt Matt Tyler Madison Blake Andrea Zach Dan </td></tr></table><p class='serve'>Customer Matt (30) orders a STRAWBERRY donut for $5.55 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 6:20</td><td>7 customers in line...</td><td><strong>Current balance:</strong> $92.45</td><td><strong>Current line:</strong> Matt Tyler Madison Blake Andrea Zach Dan </td></tr></table><p class='lineup'>Customer Lauren (32) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 6:30</td><td>8 customers in line...</td><td><strong>Current balance:</strong> $92.45</td><td><strong>Current line:</strong> Matt Tyler Madison Blake Andrea Zach Dan Lauren </td></tr></table><p class='serve'>Customer Matt (28) orders a CARAMEL donut for $2.95 and leaves!</p></div>

<div class='event'>
<table><tr><td>Time: 6:40</td><td>7 customers in line...</td><td><strong>Current balance:</strong> $95.40</td><td><strong>Current line:</strong> Tyler Madison Blake Andrea Zach Dan Lauren </td></tr></table><p class='coupon'>Customer Cecelia (33) has a special coupon and enters the line at the front!</p></div>

<div class='event'>
<table><tr><td>Time: 6:50</td><td>8 customers in line...</td><td><strong>Current balance:</strong> $95.40</td><td><strong>Current line:</strong> Cecelia Tyler Madison Blake Andrea Zach Dan Lauren </td></tr></table><p class='lineup'>Customer Madison (34) gets in line!</p></div>

<div class='event'>
<table><tr><td>Time: 7:00</td><td>9 customers in line...</td><td><strong>Current balance:</strong> $95.40</td><td><strong>Current line:</strong> Cecelia Tyler Madison Blake Andrea Zach Dan Lauren Madison </td></tr></table><p class='quit'>Customer Madison (34) is tired of waiting and leaves the line!</p></div>

<div class='event'>
<table><tr><td>Time: 7:10</td><td>8 customers in line...</td><td><strong>Current balance:</strong> $95.40</td><td><strong>Current line:</strong> Cecelia Tyler Madison Blake Andrea Zach Dan Lauren </td></tr></table><p class='quit'>Customer Lauren (32) is tired of waiting and leaves the line!</p></div>

<div class='event'>
<table><tr><td>Time: 7:20</td><td>7 customers in line...</td><td><strong>Current balance:</strong> $95.40</td><td><strong>Current line:</strong> Cecelia Tyler Madison Blake Andrea Zach Dan </td></tr></table><p class='quit'>Customer Dan (31) is tired of waiting and leaves the line!</p></div>

<div class='event'>
<table><tr><td>Time: 7:30</td><td>6 customers in line...</td><td><strong>Current balance:</strong> $95.40</td><td><strong>Current line:</strong> Cecelia Tyler Madison Blake Andrea Zach </td></tr></table><p class='quit'>Customer Zach (21) is tired of waiting and leaves the line!</p></div>

<div class='event'>
<table><tr><td>Time: 7:40</td><td>5 customers in line...</td><td><strong>Current balance:</strong> $95.40</td><td><strong>Current line:</strong> Cecelia Tyler Madison Blake Andrea </td></tr></table><p class='quit'>Customer Andrea (20) is tired of waiting and leaves the line!</p></div>

<div class='event'>
<table><tr><td>Time: 7:50</td><td>4 customers in line...</td><td><strong>Current balance:</strong> $95.40</td><td><strong>Current line:</strong> Cecelia Tyler Madison Blake </td></tr></table><p class='serve'>Customer Cecelia (33) orders a CHOCOLATE donut for $6.00 and leaves!</p></div>

<p><strong>Store closed for the day!</strong></p>
<p>Total money earned: $101.40</p>
</body>
